.container {
    width: 100%;
    padding: 24px;
    text-align: center; 
}

@media screen and (max-width: 412px) {
    .container {
        position: relative;
        top: ;
        padding: 15px;
    }
}