@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@mixin color-header {
    background-image: linear-gradient(90.06deg, #f62682 -4.45%, #6f5cf1 104.12%);
    -webkit-background-clip: text;
    color: transparent;
}