@import './base/base';
@import './component/home';
@import './component/header';
@import './component/register';
@import './component/newticket';
@import './component/spinner';
@import './config/variables';
@import './layout/layout'