@import './base/base';
@import './component/home';
@import './component/header';
@import './component/register';
@import './component/newTicket';
@import './component/spinnerTicket';
@import './component/backbutton';
@import './component/tickets';
@import './component/ticketItem';
@import './component/notProduct';
@import './component/spinner';
@import './config/variables';
@import './layout/layout'