*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #748cab 15.0%, #0d1321);
    border-radius: 8px;
}

@media screen and (max-width: 375) {
    .logo__customer {
        forn
    }
}