*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    background-color: #EFF7F6;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}