*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
    scroll-behavior: smooth;
    font-family: 'Montserrat', 'Russo One', sans-serif;
    background-color: #EFF7F6;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}