.btn-back {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 7rem;
    border: 1px solid #0d1321;
    text-align: center;
    font-weight: 500;
    margin-left: 4rem;
    border-radius: 6px;
}

.btn-back svg {
    margin-right: 8px;
}