.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    margin-bottom: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    &__customer {
        position: relative;
        background-image: linear-gradient(45deg, #1E2A78 , #FF2E4C);
        -webkit-background-clip: text;
        color: transparent;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.5rem;
        overflow: hidden;
    }

    &__customer::before {
        content: "";
        width: 30px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        left: 0;
        top: 0;
        animation: flash 2s alternate linear infinite;
        border-radius: 20px;
    }

    @keyframes flash{
        0% {
            back
        }
    }
} 

.header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header ul li {
    margin-left: 20px;
}
