.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    margin-bottom: 60px;
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1),
                0 4px 8px rgba(255, 255, 255, 0.1);
}

.logo {
    &__customer {
        background-image: linear-gradient(45deg, #1E2A78 , #FF2E4C);
        -webkit-background-clip: text;
        color: transparent;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.5rem;
    }

} 

.header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header ul li {
    margin-left: 20px;
}
