.header {
    display: flex;
    justify-content: space-between;
}

.header a {
    color: #949283;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
} 

.header::before {
    content: "";
    box-shadow: ;
}