.header {
    display: flex;
    justify-content: fl;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header > .logo a {
    color: #949283;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
} 

.header ul {
    display: flex;
    justify-content: center;
}
