@import '../config/variables/';

.home {
    &__title {
        @include title;
        @include color-title;
    }

    &__text {
        @include text-title;
    }
}

.btn {
    padding: 10px 20px;
    font-weight: 700;
    color: #fff;
    background-color: #0d1321;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.btn-reverse {
    color: #000;
    background: #fff;
    border: 2px solid #000;
}

.btn-block {
    width: 60%;
    margin-bottom: 20px;
}

.home__ticket {
    width: 1005;
}