@import '../config/variables/';

.home {
    &__title {
        @include title;
        @include color-title;
    }

    &__text {
        @include text-title;
    }
}

.btn {
    padding: 10px 20px;
    font-weight: 700;
    color: #fff;
    background-color: #0d1321;
    border-radius: 6px;
    border: none;
}

.btn-block {
    width: ;
}