.page {
    &__notfound {
        position: relative;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        background-size: cover;
    }
}