.page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &__notfound {
        position: relative;
        width: 100%;
        top: 3rem;
        object-fit: cover;
        background-size: cover;
    }

    &__heading {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}