@import '../config/variables';

.product {
    &__banner {
        object-fit: cover;
        width: 30%;
        background-size: cover;
    }

    &__title {
        text-transform: uppercase;
        font-weight: 700
        @include color-title;
    }
}