@import '../config/variables';

.heading {
    &__title {
        font-weight: 700;
        font-size: 2.5rem;
        @include color-titile;
        margin-bottom: 1rem;
    }

    &__text {
        
    }
}