@import '../config/variables';

.register {
    &__title {
        @include title;
        @include color-title;
    }

    &__text {
        @include text-title;
    }
}

.form-group {
    margin-bottom: 10px;

    input, textarea, select {
        width: 60%;
        padding: 10px;
        border: 1px solid #09A4DB;
        border-radius: 5px;
        margin-bottom: 10px;
        font-family: inherit;
    }

    label {
        text-align: left;
        display: block;
        margin: 0 0 5px 3px;
    }
}

