@import '../config/variables';

.register {
    margin-top: 2rem;
    
    &__title {
        @include title;
        @include color-title;
    }

    &__text {
        @include text-title;
    }
}

.form {
    width: 70%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 10px;

    input, textarea, select {
        width: 60%;
        padding: 10px;
        border: 1px solid #09A4DB;
        border-radius: 5px;
        margin-bottom: 10px;
        font-family: inherit;
    }

    label {
        text-align: left;
        display: block;
        margin: 0 0 5px 3px;
    }

    .btn {
        padding: 10px 20px;
        font-size: "Montserrat", sans-serif;
        font-weight: 700;
        color: #fff;
        background-color: #0d1321;
        border-radius: 6px;
        border: none;
        cursor: pointer;
    }

    .btn:hover {
        transform: scale(0.98);
    }

    .btn-block {
        width: 60%;
    }
}

.login-text {
    color: #0d1321;
    font-weight: 500;
}

.login-text a {
    color: #09A4DB;
}

@media screen and (max-width: 412px) {
    .register {
        &__title {
            font-size: 2rem;
        }

        &__text {
            font-size: 1rem;
        }
    }

    .form {
        width: 100%;
    }

    .form-group input {
        width: 100%;
    }

    .login-text {
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 576px) {
    .register {
        &__title {
            font-size: 2rem;
        }

        &__text {
            font-size: 1rem;
        }
    }

    .form {
        width: 100%;
    }

    .form-group input {
        width: 100%;
    }

    .login-text {
        font-size: 0.85rem;
    }
}

