svg {
    width: 100%;
    height: 100%;
    position: absolute;

    text {
        text-transform: uppercase;
        animation: stroke 5s infinite alternate;
        stroke-width: 2;
        stroke: #6f5cf1;
        font-size: 3.5rem;
        
    }
}

