@import '../config/variables';

.heading {
    &__title {
        font-weight: 700;
        font-size: 2.5rem;
        @include color-titile;
        margin-bottom: 1rem;
    }

    &__text {
        font-size: 1.5rem;
        color: #041C44;
        font-weight: 500;
        margin-bottom: 1rem;
    }
}