.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    width: 100%;
    height: 100%;
    position: absolute;
}

svg text {
    text-transform: uppercase;
    animation: stroke 5s infinite alternate;
    stroke-width: 2;
    stroke: #6f5cf1;
    font-size: 3.5rem;
}
@keyframes stroke{
    0% {
        fill: rgb(0, 147, 239);
        stroke: rgb(25, 79, 144);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }
    70% {
        fill: rgb(0, 147, 239);
        stroke: rgb(25, 79, 144);
    }
    80% {
        fill: rgb(0, 147, 239);
        stroke: rgb(25, 79, 144);
        stroke: 3;
    }
    100% {
        fill: rgb(0, 147, 239);
        stroke: rgb(25, 79, 144);
        stroke-dashoffset: -25%; 
        stroke-dasharray: 50% 0; 
        stroke-width: 0;
    }
}

