@import '../config/variables';

.heading {
    &__title {
        font-weight: 700;
        font-size: 2.5rem;
        @include color-titile;
        margin-bottom: 1rem;
    }

    &__text {
        font-size: 1.5rem;
        color: #041C44;
        font-weight: 500;
        margin-bottom: 1.5rem;
    }
}

form {
    width: 70%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 10px;

    input, textarea, select {
        width: 60%;
        padding: 10px;
        border: 1px solid #09A4DB;
        border-radius: 5px;
        margin-bottom: 10px;
        font-family: inherit;
    }
}

