@import '../config/variables';

.heading {
    &__title {
        font-weight: 700;
        font-size: 2.5rem;
        @include color-title;
        margin-bottom: 0.5rem;
    }

    &__text {
        font-size: 1.5rem;
        color: #041C44;
        font-weight: 500;
        margin-bottom: 1.5rem;
    }
}

form {
    width: 70%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 10px;

    input, textarea, select {
        width: 60%;
        padding: 10px;
        border: 1px solid #09A4DB;
        border-radius: 5px;
        margin-bottom: 10px;
        font-family: inherit;
    }

    label {
        text-align: left;
        display: block;
        margin: 0 0 5px 3px;
    }

    .btn {
        padding: 10px 20px;
        font-size: "Montserrat", sans-serif;
        font-weight: 700;
        color: #fff;
        background-color: #0d1321;
        border-radius: 6px;
        border: none;
    }

    .btn-block {
        width: 60%;
    }
}

