.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

svg {
	font-family: 'Russo One', sans-serif;
	position: absolute; 
	width: 100%; 
    height: 100%;
}
svg text {
	text-transform: uppercase;
	animation: stroke 5s infinite alternate;
	stroke-width: 1;
	stroke: #365fa0;
	font-size: 3rem;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 1;
	}
	70%  {fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1); }
	80%  {fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
	100% {
		fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0); 
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
