@import '../config/variables';

.tickets {
    margin-top: 1rem;
    &__title {
        @include color-title;
        margin-bottom: 1rem;
    }

    &__heading{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        font-weight: 700;
        color: #4A686A;
        border-bottom: 1px solid #C1D1D1;
        padding: 15px;
    }
}

@media screen and (max-width: 412px) {
    .tickets {
        &__heading {
            font-size: 0.7rem;
            padding: 10px;
        }
        &__title {
            font-size: 2rem;
        }
    }
}

@media screen and (max-width: 576px) {
    .tickets {
        &__heading {
            font-size: 0.8rem;
            padding: 10px;
        }
        &__title {
            font-size: 2rem;
        }
    }
}