.ticket__page {
    text-align: left;
    
    header {
        margin-bottom: 1rem;
    }
}

.ticket__id {
    color: #;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}