.ticket-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
}

.status {
    color: #fff;
    text-transform: uppercase;
    font-size: 8px;
    background-color: #333;
}