.ticket-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
}

.status {
    color: #fff;
    text-transform: uppercase;
    font-size: 8px;
    background-color: #333;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    font-weight: 700;
    border-radius: 10px;

    &-new {
        background: green;
    }
}