@import '../config/variables';

.tickets {
    margin-top: 1rem;
    &__title {
        @include color-title;
        margin-bottom: 1rem;
    }

    &__heading{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #C1D1D1;
        box-shadow: ;
        padding: 10px;
    }
}