.ticket__page {
    text-align: left;
    
    header {
        margin-bottom: 1rem;
    }

    h3 {
        color: #4A686A;
        margin-bottom: 10px;
    }
    
    .inline {
        border-bottom: 1;
    }
}

.ticket__id {
    color: #4A686A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}