@import '../config/variables';

.tickets {
    margin-top: 1rem;
    &__title {
        @include color-title;
        margin-bottom: 1rem;
    }

    &__heading, .ticket-item {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        background: #C1D1D1;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 10px;
    }
}