@import '../config/variables';

.tickets {
    margin-top: 1rem;
    &__title {
        @include color-title;
        margin-bottom: 1rem;
    }

    &__heading {
        display: grid;
        grid-template-columns: 4;
    }
}