.ticket-item {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
}

.status {
    position: relative;
    color: transparent;
    font-size: 12px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    border-radius: 50%;

    &-new {
        color: #02AE33;
    }

    &-new::before {
        position: absolute;
        content: "";
        left: -12px;
        width: 8px;
        height: 8px;
        border: 2px solid;
        border-radius: 50%;
    }
}

.btn-ticket {
    color: #0d1321;
    font-size: 14px;
    border: 1px solid #0d1321;
    width: ;
}