.ticket-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
}

.status {
    color: transparent;
    font-size: 12px;
    text-transform: capitalize;
    top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    border-radius: 50%;

    &-new {
        color: #159947;
    }

    &-new::before {
        content: "";
        left: -10px;
        width: ;
    }
}