.ticket__page {
    text-align: left;
    
    header {
        margin-bottom: 1rem;
    }
}

.ticket__id {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}