@import '../config/variables';

.tickets {
    margin-top: 1rem;
    &__title {
        @include color-title;
        margin-bottom: 1rem;
    }

    &__heading, .tic {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}